.taskPane{
  display: flex;
  flex-direction: column;
}

.taskContainer{
  display: flex;
  flex-direction: column;
}

.taskPane{
  display: flex;
  flex-direction: row;
}

.taskActions{
  display: flex;
  flex-direction: row;
}